.row {
  margin-top: 20px;
}
.patientDisplay {
  background-color: white;
  font-size: 18px;
  box-shadow: 1px 1px 10px lightgray;
  & > div {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.yellow {
  background-color: yellow;
}

.red {
  color: red;
}

.green {
  color: green;
}
