<div class="footer">
  <div class="icon1" (click)="routeSearch()"><svg-icon src="assets/images/search.svg" [svgStyle]="{ 'width.px':150 }"></svg-icon></div>
  <div class="icon2" (click)="routeProfile()">Profile/Active</div>
  <div class="icon1" (click)="routeInactive()">Inactive</div>
  <div class="icon2" (click)="routeImpressions()">Impressions</div>
  <div class="icon1" (click)="routeObservations()">Observations</div>
  <div class="icon2" (click)="routeMedication()">Medication requests</div>
  <div class="icon1" (click)="routeLabs()">Labs</div>
  <div class="icon2" (click)="routeImaging()">Imaging Studies</div>
  <!--  <div class="icon2" (click)="routeMedical()"><svg-icon src="assets/images/list.svg" [svgStyle]="{ 'width.px':150 }"></svg-icon></div>-->
<!--  <div class="icon1" (click)="routeProcedures()"><svg-icon src="assets/images/medical.svg" [svgStyle]="{ 'width.px':150 }"></svg-icon></div>-->
</div>
