.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position:fixed;
  bottom: 0;
  width: 100%;
  & > div {
    width: 50%;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    color: gray;

  }
}

.icon1 {
  background-color: #CDF5F6;
}


.icon2 {
  background-color: #EFF9DA;
}
